@{
    Page.Title = "TheHost - Quartos";
    Layout = "../_Layout.cshtml";

    var conexao = WebMatrix.Data.Database.Open("DB");

    var quartos = conexao.Query("select *, Descricao from QUARTO q inner join TipoQuarto t on t.id = q.tipo");

    conexao.Close();

}
@{
    foreach (var item in quartos)
    {
        if (item.estatus == 0)
        {
            <div class="col-md-4">
                <div class="panel panel-success">
                    <div class="panel-heading">@item.Estatus</div>
                    <div class="panel-body">
                        <i class="fa fa-fw fa-star"></i> @item.Descricao
                    </div>
                </div>
            </div>
        }else{
          <div class="col-md-4">
              <div class="panel panel-danger">
                  <div class="panel-heading">@item.Estatus</div>
                  <div class="panel-body">
                      <i class="fa fa-fw fa-star"></i> @item.Descricao
                  </div>
              </div>
          </div>
        }
    }
}
