@{
    Page.Title = "TheHost - Quartos";
    Layout = "~/_Layout.cshtml";
    Page.Quartos = "active"

    var conexao = WebMatrix.Data.Database.Open("DB");

    //var quartos = conexao.Query("select *, Descricao from QUARTO q inner join TipoQuarto t on t.id = q.tipo_id");

    conexao.Close();

}
<div class="raw">
<a class="btn btn-success" href="~/pages/quartos/novo"></a>
</div>
