<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="The Host - Sistema de Hospedagem para Hóteis.">
    <meta name="keywords" content="Hotel,Hospedagem,TheHost,PIM5">
    <meta name="author" content="Alex Rocha,Claudio,Aquinoan">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Page.Title</title>
    <link rel="stylesheet" href="~/Bootstrap/css/bootstrap.min.css" />
    <link href="~/css/menu.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/vendor/datatables/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/TheHost.css" />
    <!--==========CSS PERSONALIZADOS e BOOTSTRAP-SELECTED=======================-->
    <link rel="stylesheet" type="text/css" href="~/css/hospedes.css" />
    <link rel="stylesheet" type="text/css" href="~/Bootstrap/css/bootstrap-select.min.css">
    <script language="JavaScript" type="text/javascript" src="~/js/mascara.js"></script>
    <!-- jQuery -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <!--=======================BOOTSTRAP-DATETIMEPICKER=========================-->
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" />
    <script src="~/Bootstrap/datetimepicker/js/datetimepicker.js"></script>
    <script src="~/Bootstrap/datetimepicker/js/datetimepicker.pt-BR.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-fixed-top navbar-default bg-inverse">
        <div class="container">
            <a class="navbar-brand" href="#">The Host</a>
            <ul class="nav navbar-nav">
                <li class="nav-item @Page.Home"><a class="nav-link" href="~/pages/">Home</a></li>
                <li class="nav-item @Page.Hospede"><a class="nav-link" href="~/pages/hospedes/default.cshtml">Hospedes</a></li>
            </ul>
        </div><!-- /.container -->
    </nav><!-- /.navbar -->

    <div class="container">
        @RenderBody()
        <hr>
        <footer>
            <p>&copy; PIM-5 The Host 2017</p>
        </footer>
    </div>
    <script>
        $(document).ready(function () {
            $('#dataTables-example').DataTable({
                responsive: true,
                "language": {
                    "url": "/vendor/datatables/pt-BR.json",
                    searchPlaceholder: "Buscar: Nome ou CPF",
                    lengthMenu: "_MENU_",
                    search: "",
                    zeroRecords: "Não foi encontrado Hospedes"
                },
                "paging": true,
                "info": false
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    <script src="~/Bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/menu.js"></script>
    <script src="~/Bootstrap/js/validator.js"></script>
    <script src="~/Bootstrap/js/bootstrap-select.min.js"></script>
    <script src="~/Bootstrap/js/i18n/defaults-pt_BR.min.js"></script>
    <script src="~/js/mascara.js"></script>
    @*======== Script de select cidade e estado ======*@
    <script src="~/js/select.js"></script>
    <!-- DataTables JavaScript -->
    <script src="~/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="~/vendor/datatables-responsive/dataTables.responsive.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
</body>
</html>