@{
    Page.Title = "The Host - Hospedagens";
    Layout = "~/_Layout.cshtml";
    Page.Hospedagens = "active";


    //Selecionando Hospedagens Ativas
    var conexao = WebMatrix.Data.Database.Open("DB");

    var hospedagens = conexao.Query("SELECT H.*, C.Nome, Q.Numero FROM HOSPEDAGEN H INNER JOIN HOSPEDE C ON H.HOSPEDE_ID = C.ID INNER JOIN QUARTO Q ON H.QUARTO = Q.ID WHERE H.ESTATUS = 0");

    conexao.Close();
}
<div class="row">
    <div class="col-sm-12" style="margin-bottom:2em; text-align:right;">
        <a class="btn btn-success" href="~/pages/reservas/nova.cshtml">Nova Hospedagem</a>
    </div>
    <div class="col-sm-12">
        <table class="table table-striped table-bordered table-hover" id="tabela">
            <thead>
                <tr>
                    <th>Hospede</th>
                    <th>Quarto</th>
                    <th>Entrada</th>
                    <th>Saída</th>
                    <th>Ações</th>
                </tr>
                <tr>
                    <th><input class="form-control" type="text" id="txtColuna1" /></th>
                    <th><input class="form-control" type="text" id="txtColuna2" /></th>
                    <th><input class="form-control" type="text" id="txtColuna3" /></th>
                    <th><input class="form-control" type="text" id="txtColuna3" /></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var h in hospedagens)
            {
                    <tr>
                        <td>@h.Nome</td>
                        <td>@h.Quarto</td>
                        <td>@h.Entrada.ToString("dd/MM/yyyy")</td>
                        <td>@h.Saida.ToString("dd/MM/yyyy")</td>
                        <td><a class="btn btn-info" role="button"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Detalhes</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
