@{
    Page.Title = "The Host - Quartos";
    Layout = "../_Layout.cshtml";
   
}

<form name="formTipoQuarto" id="formTipoQuarto" data-toggle="validator" role="form" method="post" action="" enctype="multipart/form-data">
    <!--Cadastro do tipo do Quarto-->
    <div class="panel panel-default">
        <div class="panel-heading">Dados Tipo de Quarto:</div>
        <div class="panel-body">
            <div role="tabpanel" class="tab-pane" id="CadastroTipoQuarto">
                <!--Informe a descrição para o Tipo do Quarto-->
                <div class="form-group has-feedback col-md-4">
                    <label for="descTipoQuarto" class="control-label">Descrição do Tipo do Quarto:</label>
                    <input type="text" name="descTipoQuarto" id="descTipoQuarto" class="form-control uppercase" data-minlength="3" placeholder="" required />
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    <div>
                    </div>
                </div>
                <br />
                <div class="form-group has-feedback col-md-5">
                    <!--Informe o valor do Quarto-->
                    <label class="control-label" for="valorTipoQuarto">Valor do Quarto:</label>
                    <input name="valorTipoQuarto" id="valorTipoQuarto" required type="text" placeholder="Informe o valor do Quarto" class="form-control uppercase" maxlength="4" onblur="verifica()" />
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                </div>
                <div>
                    <br />
                    <div class="form-group has-feedback col-md-5">
                        <!--Informe o número de Camas no Quarto-->
                        <label class="control-label" for="numCamas">Número de Camas no Quarto:</label>
                        <input type="number" id="numCamas" name="numCamas" required placeholder="Informe o nº de camas" class="form-control uppercase" />
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>
                    <div>
                        <br />
                        <button type="submit" class="btn btn-success" name="btnSalvarTipoQuarto" id="btnSalvarTipoQuarto">Salvar</button>
                        <button type="reset" class="btn btn-warning">Limpar Formulário</button>
                    </div>


                </div>
            </div>
        </div>
    </div>


</form>
<script type="text/javascript">

    function id(el) {
        return document.getElementById(el);
    }
    String.prototype.formatMoney = function () {
        return this.replace(/([0-9]{1,3})$/g, "$1,00");
    };
    window.onload = function () {
        id('valorTipoQuarto').onblur = function () {
            var v = this.value;
            if (v.indexOf(',') === 0) {
                v = v.replace(',', '');
                if (v.length === 1) v = '0,' + v + '0';
                else v = '0,' + v;
            } else {
                v = v.formatMoney();
            }
            this.value = v;
        }
    };
</script>

